<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
       <link rel="icon" type="image/x-icon" href="/images/faviconlogo.png">
       <title>Anadromy</title>
   </head>
   <body>
       <header>
          <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="height: 60px">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
    <img src="/images/LogoBlueSmall.png" height="50" alt="">
  </a>
  ♡
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item ml-auto">
            <a class="nav-link active" aria-current="page" href="/accountPage">Account</a>
            </li>
        </ul>
        <a href="/auth/logout" class="btn btn-outline-blue  ml-auto">logout</a>
        </div>
    </div>
</nav>
<h1>User: {{user}}</h1>
        </header>
        <div class="mainpage">
            <h2>Chosen lesson plans:</h2>
            <ul class="list-group">
                {{#each lessonplans}}
                <li class="list-group-item regular" style="background-color: #D3F2FF;" onclick="changeLanguage('{{this.lang1}}','{{this.lang2}}');"><a onmouseover="this.style.textDecoration='underline'; this.style.cursor= 'pointer';" 
    onmouseout="this.style.textDecoration='none';">{{this.lang1}} -> {{this.lang2}}: {{completion}}% complete </a></li>
            {{/each}}
            </ul>
            <br>
        <button type="button" id = "mainbutton" class="btn btn-outline-blue">
            Delete account
        </button>
        <button type="button" id = "confirmbutton" class="btn btn-outline-blue" onclick="deleteAcc();" hidden>
            confirm
        </button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/prism.js"></script>
    <script>
        document.getElementById("mainbutton").addEventListener('click',reveal)
        function reveal(){
            console.log('hi')
            document.getElementById("confirmbutton").hidden = false;
        }
        function changeLanguage(lang1, lang2){
            data = {"lang1": lang1, "lang2": lang2}
            console.log('hello');
            var ajax_params = {
                'url'     : "setLanguage",
                'type'    : "get",
                'data'    : data,
                'success' : onServerResponseLang
            }
        
            $.ajax( ajax_params )
        }
        function onServerResponseLang (responseText) {
            window.location.href = "/"
        }
        function deleteAcc(){
            data = {}
            var ajax_params = {
            'url'     : "deleteAccount",
            'type'    : "POST",
            'data'    : data,
            'success' : onServerResponse
            }
        
            $.ajax( ajax_params )
        }
        function onServerResponse (responseText) {
            window.location.href = "/auth/logout"
        }
    </script>
   </body>
</html>
