<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
   </head>
   <body>
       <header>
          <a href = "/">Header goes here, click to go home</a>
          <a href = "/changeLanguage">click to change language</a>
          <h1>Unit {{unitnumber}}: {{lessonname}}</h1>
        </header>
        <div class="mainpage">
        {{#each arr}}
           {{#if this.istable}}
           <table class="table table-hover" style="padding: 20px;">
              <thead>
              <tr>
                {{#each this.array.[0]}}
                  <th>{{@key}}</th>
                {{/each}}
              </tr>
              </thead>
              <tbody>
              {{#each this.array}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                  {{/each}}
                </tr>
              {{/each}}
              </tbody>
              </table>
           {{else}}
           {{#if iscode}}
           <pre><code class = "language-{{this.language}} {{this.type}}">{{this.text}}</code></pre>
           {{else}}
           {{#if iscodetext}}
           <code class =  "language-{{this.language}} {{this.type}}">{{this.text}}</code>
           {{else}}
           {{#if islinebreak}}
             <p></p>
           {{else}}
           <div class = {{this.type}}>{{this.text}}</div>
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
       {{/each}}
    </div>
    <script src="/scripts/prism.js"></script>
   </body>
</html>
