<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
   </head>
   <body onload="onLoadFunction()">
       <header>
          <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="height: 60px">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
    <img src="/images/LogoBlueSmall.png" height="50" alt="">
  </a>
  ♡
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/changeLanguage">{{lang1}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/changeLanguage">{{lang2}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/changeLanguage">Change Language</a>
            </li>
            <li class="nav-item ml-auto">
            <a class="nav-link active" aria-current="page" href="/accountPage">Account</a>
            </li>
        </ul>
        <a href="/auth/logout" class="btn btn-outline-blue  ml-auto">logout</a>
        </div>
    </div>
</nav>
<h1>{{lessonname}}</h1>
        </header>
        <div class="mainpage">
        {{#each arr}}
           {{#if this.istable}}
           <table class="table table-hover" style="table-layout: fixed ; width: 100%; padding: 20px;">
              <thead>
              <tr>
                {{#each this.array.[0]}}
                  <th>{{@key}}</th>
                {{/each}}
              </tr>
              </thead>
              <tbody>
              {{#each this.array}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                  {{/each}}
                </tr>
              {{/each}}
              </tbody>
              </table>
           {{else}}
           {{#if iscode}}
           <pre><code class = "language-{{this.language}} {{this.type}}">{{this.text}}</code></pre>
           {{else}}
           {{#if iscodetext}}
           <code class =  "language-{{this.language}} {{this.type}}">{{this.text}}</code>
           {{else}}
           {{#if islinebreak}}
             <p></p>
           {{else}}
           {{#if isMultipleChoice}}
           <h3>Test Your Knowledge: </h3>
           <p class="question">{{#each question}}
                {{#if isregular}}
                {{text}}
                {{/if}}
                {{#if iscodetext}}
                <code class =  "language-{{this.language}} {{this.type}}">{{this.text}}</code>
                {{/if}}
                {{#if iscode}}
                <pre><code class = "language-{{this.language}} {{this.type}}">{{this.text}}</code></pre>
                {{/if}}
                {{#if islinebreak}}
                <p></p>
                {{/if}}
            {{/each}}
            </p>
            {{#each options}}
            <div class="form-check" id = "form{{questionId}}">
            <input class="form-check-input" type="radio" name="form{{questionId}}" id="{{questionId}}.{{@index}}" value = "{{option}}"/>
            <label class="form-check-label" for="{{questionId}}.{{@index}}"> {{option}} </label>
            </div>
            {{/each}}
            <button type="button" id = "submit.{{questionId}}" class="btn btn-outline-blue" onclick = "submitMCQ('{{questionId}}')">
            Submit
          </button>
          <p id = "res{{questionId}}"></p>
           {{else}}
           {{#if iside}}
              <div id="container" style="width: 800px; height: 300px; border: 1px solid grey"></div>
           {{else}}
           <div class = {{this.type}}>{{this.text}}</div>
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
       {{/each}}
    </div>
    <script type="text/javascript">
        const arr = {{{ json arr }}}
        const ideval = {{{ json ideval }}}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/prism.js"></script>
    <script src="/scripts/atest.js"></script>
    <script src="monaco-editor/vs/loader.js"></script>
		<script>
			require.config({ paths: { vs: 'monaco-editor/vs' } });

			require(['vs/editor/editor.main'], function () {
				var editor = monaco.editor.create(document.getElementById('container'), {
					value: ideval.join('\n'),
					language: 'java'
				});
			});
		</script>
   </body>
</html>
