<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
   </head>
   <body onload="onLoadFunction()">
       <header>
          <a href = "/">Header goes here, click to go home</a>
          <a href = "/changeLanguage">click to change language</a>
          <h1>Unit {{unitnumber}}: {{lessonname}}</h1>
        </header>
        <div class="mainpage">
        {{#each arr}}
           {{#if this.istable}}
           <table class="table table-hover" style="padding: 20px;">
              <thead>
              <tr>
                {{#each this.array.[0]}}
                  <th>{{@key}}</th>
                {{/each}}
              </tr>
              </thead>
              <tbody>
              {{#each this.array}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                  {{/each}}
                </tr>
              {{/each}}
              </tbody>
              </table>
           {{else}}
           {{#if iscode}}
           <pre><code class = "language-{{this.language}} {{this.type}}">{{this.text}}</code></pre>
           {{else}}
           {{#if iscodetext}}
           <code class =  "language-{{this.language}} {{this.type}}">{{this.text}}</code>
           {{else}}
           {{#if islinebreak}}
             <p></p>
           {{else}}
           {{#if isMultipleChoice}}
           <p class="question">{{question}}</p>
            {{#each options}}
            <div class="form-check" id = "form{{questionId}}">
            <input class="form-check-input" type="radio" name="form{{questionId}}" id="{{questionId}}.{{@index}}" value = "{{option}}"/>
            <label class="form-check-label" for="{{questionId}}.{{@index}}"> {{option}} </label>
            </div>
            {{/each}}
            <button type="button" id = "submit.{{questionId}}" class="btn btn-outline-info" onclick = "submitMCQ({{questionId}})">
            Submit
          </button>
          <p id = "res{{questionId}}"></p>
           {{else}}
           <div class = {{this.type}}>{{this.text}}</div>
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
           {{/if}}
       {{/each}}
    </div>
    <script type="text/javascript">
        const arr = {{{ json arr }}}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/prism.js"></script>
    <script src="/scripts/atest.js"></script>
   </body>
</html>
